<?xml version="1.0" encoding="utf-8" ?>
<log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
        <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
        <file value="C:\MyApp\kudutracelogs.log" />
        <staticLogFileName value="true"/>
        <appendToFile value="true"/>
        <rollingStyle value="Date"/>
        <maxSizeRollBackups value="100"/>
        <maximumFileSize value="15MB"/>
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%message" />
        </layout>
    </appender>
    <root>
        <level value="ALL"/>
        <appender-ref ref="RollingLogFileAppender"/>
    </root>
</log4net>