<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Warn"
	  internalLogFile="nlog log.log"
>
	<variable name="VerboseLayout"
			  value="${longdate} ${level:upperCase=true} ${message}  
                    (${callsite:includSourcePath=true})"            />
	<variable name="ExceptionVerboseLayout"
			  value="${VerboseLayout} (${stacktrace:topFrames=10})  
                     ${exception:format=ToString}"                  />

	<targets>
		<target xsi:type="Console" name="console_log" >
			<layout xsi:type="JsonLayout">
				<attribute name="ts" layout="${date}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				**<attribute name="all-events" layout="${all-event-properties}"/>
				<attribute name="tid" layout="${aspnet-request:header=tid}"/>**
				<attribute name="cn" layout="${callsite}"/>
				<attribute name="msg" layout="${message}" />
			</layout>
		</target>
	</targets>

	<configuration>
		<system.diagnostics>
			<sources>
				<source name="System.Net" switchValue="All">
					<listeners>
						<add name="nlog" />
					</listeners>
				</source>
				<source name="System.Net.Sockets" switchValue="All">
					<listeners>
						<add name="nlog" />
					</listeners>
				</source>
			</sources>
			<sharedListeners>
				<add name="nlog" type="NLog.NLogTraceListener, NLog" />
			</sharedListeners>
		</system.diagnostics>
	</configuration>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="console,consoleException" />
		<logger name="*" minlevel="Warn" writeTo="file,fileAsException" />
	</rules>
</nlog>