@import url(https://fonts.googleapis.com/css?family=Inconsolata:300italic,400italic,700italic,100,300,400,700);

html{
    height:100%;
}
body {
    font-size: .875rem;
    color: #141823;
    height: 100%;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.inconsolata {
    font-family: inconsolata;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1); */
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-weight: 400;
    color: #212529;
    border-top: #A1A19E;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active{
    color: #252e3e !important;
    background-color: #e5e8ec;
    font-weight: 500;
}


.sidebar .nav-link:hover{
    color: #252e3e !important;
    background-color: #e5e8ec !important;
    font-weight: 500;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather{
    background-color: #e5e8ec;
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(9, 30, 66, 0.08);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.container-fluid{
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

.jumbotron {
    background-color:rgba(9, 30, 66, 0.08);
}

.centering {
    float:none;
    margin:0 auto;
}

.bkg-light-gray {
    background-color: #dde0e2
}

.mg-10-l{
    margin-left: 10px;
}

.mg-10-r {
    margin-right: 10px;
}

.clr-green {
    background-color: #26C281;
}

.clr-icon-navbar {
    color: #42526E !important;
}

.fa-style {
    font-size: 0.75rem;
    text-shadow: none;
}

a {
    text-decoration:none;
    color:  #252e3e;
}