
@page

@{
    ViewData["Title"] = "Zip Deploy";
    Layout = "~/Pages/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <title>Zip Deploy</title>
</head>
<body>
Not Supported on Linux
</body>
</html>