<ul class="nav navbar-nav">
    @if (!Kudu.Core.Helpers.EnvironmentHelper.IsOnLinuxConsumption())
    {
        <li><a class="navbar-brand" style="padding-top: 17px" href="~/Env">Environment</a></li>
        <li><a class="navbar-brand" style="padding-top: 17px" href="~/webssh/host">SSH</a></li>
        <li><a class="navbar-brand" style="padding-top: 17px" href="~/DebugConsole">Bash</a></li>
        <li><a class="navbar-brand" style="padding-top: 17px" href="~/api/logstream" title="If no log events are being generated the page may not load.">Log stream</a></li>
    }
</ul>