<h3>REST API <small>(works best when using a JSON viewer extension)</small></h3>
<ul>
    <li>
        <a href="api/settings">App Settings</a>
    </li>
    <li>
        <a href="api/deployments">Deployments</a>
    </li>
    @if (!Kudu.Core.Helpers.EnvironmentHelper.IsOnLinuxConsumption())
    {
        <li>
            <a href="api/scm/info">Source control info</a>
        </li>
        <li>
            <a href="api/vfs">Files</a>
        </li>
        <li>
            <a href="api/logs/docker">Current Docker logs</a> (<a href="api/logs/docker/zip">Download as zip</a>)
        </li>
    }
</ul>