@if (!Kudu.Core.Helpers.EnvironmentHelper.IsOnLinuxConsumption())
{
    <h3>Browse Directory</h3>
    <ul>
        <li>
            <a href="deploymentlogs">Deployment Logs</a>
        </li>
        <li>
            <a href="wwwroot">Site wwwroot</a>
        </li>
    </ul>
}
