@page
@model Kudu.Services.Web.Pages.ProcessExplorerModel
@{
}

@section PageHead {
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/content/styles/ProcessExplorer.css" type="text/css" />
    <link rel="stylesheet" href="~/content/styles/jquery.contextMenu.css" type="text/css" />
    <link rel="stylesheet" href="~/content/Styles/jquery-ui-1.10.0.custom.css" type="text/css" />
    <link href="/Content/Styles/font-awesome.css" rel="stylesheet" />
}

<div id="main" class="container">
    <h2 style="text-align: center">Process Explorer</h2>
    <div class="spinner">
        <img id="proc-loading" class="paKman" src="../Content/Images/paKman.gif" title="Please wait" style="display: none" />
    </div>
    <button id="find-file-handle">Search Process</button>
    <div style="text-align: right"><a id="SwitchConsoleLink" href="javascript:processExplorerSetupAsync();">Refresh</a></div>
    <table id="proctable" class="table table-bordered table-condensed">
        <tr>
            <th style="width: 13%">User</th>
            <th style="width: 5%">PID</th>
            <th style="width: 7%">CPU</th>
            <th style="width: 7%">Memory</th>
            <th style="width: 7%">TTY</th>
            <th style="width: 6%">StartDate</th>
            <th style="width: 4%">StartTime</th>
            <th style="width: 7%">Command</th>
        </tr>
        <tr>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
            <td>Test</td>
        </tr>
    </table>
</div>

<div id="dialog-form" title="Enter Process Name">
    <form>
        <fieldset>
            <label for="name">Process Name</label>
            <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" autocomplete="off" />
        </fieldset>
    </form>
    <div id="handle-result"></div>
</div>

<script src="~/content/scripts/jquery-ui.min.js"></script>
<script src="~/content/scripts/jquery.contextMenu.js"></script>
<script src="~/content/scripts/ProcessExplorer.js"></script>