@page

@model Kudu.Services.Web.Pages.NewUI.artifactsModel
@{
    ViewData["Title"] = "artifacts";
}
<style>
body {
  background-color: #edeff0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
  letter-spacing: 0.05em;
}

body,
html {
  width: 100%;
  margin: 0;
}

#wrapper > div {
  font-size: 0;
}

.card.course-id-1 .card-backgrund-color {
  background-color: #80ACE9;
}

.card-assignment-icon:before {
  background-color: rgba(128, 172, 233, 0.4);
}

.card.course-id-2 .card-backgrund-color {
  background-color: #68CF8C;
}

.card.course-id-4 .card-backgrund-color {
  background-color: #ED7070;
}

.card-group-heading {
  margin: 0;
  color: #566265;
}

.card-container {
  font-size: 0;
}

.card,
.card * {
  box-sizing: border-box;
}

.card {
  width: calc(100% - 40px);
  min-width: 300px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
  height: 300px;
  position: relative;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform .2s ease-in, box-shadow .1s ease-in;
  /*   -moz-transition: -moz-transform .1s ease-in, box-shadow .1s ease-in; */
  transition: transform .2s ease-in, box-shadow .1s ease-in;
  box-shadow: 0px 2px 2px #dfe6f0;
}

/* card shadow */

.card:hover {
  box-shadow: 0px 5px 10px #dfe6f0;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}


/* header, footer, and body */

.card-header,
.card-footer,
.card-body {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 20px;
  overflow: hidden;
}

.card-header {
  top: 0;
  height: 50px;
  border-radius: 5px 5px 0 0;
}

.card-footer {
  bottom: 0;
  height: 50px;
  border-radius: 0 0 5px 5px;
  background-color: #F4F6F8;
}

.card-body {
  top: 50px;
  bottom: 50px;
}

.card-header > h2,
.card-body > p,
.card-footer > p {
  margin: 0;
}


/* header content */

.card-header > h2 {
  font-size: 16px;
  padding: 6px;
  /* (30 - font-size) / 2 */
  color: white;
}


/* body content*/


/* card-info */

.card-info {
  height: 60%;
  display: flex;
  justify-content: center;
}

.card-info-element {
  align-self: center;
  display: inline-block;
  vertical-align: middle;
}

.card-info-element {
  width: 30%;
}

.card-info-description {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  color: #B3BAC1;
  margin-bottom: 10px;
}

.card-info-value {
  color: #576366;
  font-weight: bold;
  font-size: 20px;
  height: 37px;
  vertical-align: bottom;
}

.card-info-assignment-level,
.card-info-deadline {
  color: white;
  background-color: #B3BAC1;
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  /* align horizontal */
  align-items: center;
  /* align vertical */
  border-radius: 100px;
}

.card-info-assignment-level {
  width: 40px;
  height: 40px;
  line-height: 30px;
  padding-top: 2px;
}

.card-info-deadline {
  font-size: 12px;
  padding: 6px 10px;
  margin-bottom: 4px;
  vertical-align: middle;
}


/* delimiter */

.card-body-delimiter {
  background-color: #EDEFF1;
  width: 40px;
  height: 3px;
  border-radius: 2px;
  position: absolute;
  top: 112px;
  /* should be info-height + body-padding - delimiter-height / 2 = 108 + 10 - 2 = 116, but since info-values contains a kind of padding it is hardcoded */
  left: calc(50% - 20px);
  /* (body-width - delimiter-width) / 2 = (300 - 40) / 2 = 130 */
}


/* tags */

.card-tags {
  height: 40%;
  display: flex;
  justify-content: center;
}

.card-tag {
  background-color: #BDC5CD;
  align-self: center;
  display: inline-block;
  padding: 5px 10px;
  margin: 4px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-size: 12px;
}


/* assignment type content */

.card-assignment-icon {
  display: inline-block;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 20px;
  left: calc(50% - 40px);
}

.card-assignment-icon:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  border-radius: 50%;
}

.card-assignment-text {
  height: 40%;
  font-size: 14px;
  line-height: 18px;
  color: #a6b0b2;
  position: absolute;
  top: 60%;
  left: 20px;
  right: 20px;
}

.ml-page-checks:after,
.ml-cross-check:after {
  content: "";
  background: url("https://cdn0.iconfinder.com/data/icons/outline-business/512/file.png");
  background-size: 50px;
  width: 48px;
  height: 49px;
  display: inline-block;
  background-repeat: no-repeat;
}


/* progress bar */

.card-progress-bar {
  background-color: #DFE4E9;
  border-radius: 4px;
  height: 8px;
  display: block;
  margin: 11px 0;
  position: relative;
}

.card-progress-bar-status {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  border-radius: 4px;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  transition: width 1s ease-in-out;
}


/* footer content */

.card-footer-text {
  display: inline-block;
  color: #576366;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  vertical-align: middle;
}

.card-footer-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  color: white;
  font-size: 14px;
  padding: 2px 0;
  margin: 2px 5px 2px 0;
}

.ml-checkmark:after {
  content: "✔";
}
ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}

mytimeline.ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
            
</style>
<style>
  

</style>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<script>
        function revertDeployment(appName, deploymentId) {
            var obj = $('#' + deploymentId);
            var objData = $('#' + deploymentId+'-data');
            $.ajax({
                url: 'http://build.f422074646704c039cb3.eastus.aksapp.io/api/revisions/redeploy/' + appName + '/' + deploymentId + '',
                type: 'GET',
                data: {'appName' : appName, 'deploymentId': deploymentId},
                success: function () {
                    $('#' + deploymentId + '-redep-btn').innerHTML = "Currently Deployed";
                    var listItems = $("#revisions-timeline li");
                        listItems.each(function(idx, li) {
                        var item = $(li);
                            item.removeClass('course-id-2');
                            item.addClass('course-id-1');
                        // and the rest of your code
                        });
                    obj.removeClass('course-id-1');
                    obj.addClass('course-id-2');
                    objData.animate(
                        { x: 100 },
                        {
                            duration: 2000,
                            step: function(now) { $(this).attr("data-status", now); }
                        });
                },
                error: function (errorThrown) {
                    console.log( errorThrown );
                }
            });
        }
    $(document).ready(function () {
        var json = JSON.parse('[{"revisionId":"23","deploymentId":"85499beba8f391099b473dfb9db6f7bb2470895a","active":false,"Status":4,"StatusText":null,"AuthorEmail":"sanchit.mehta602@gmail.com","Author":"Sanchit Mehta","Message":"453","Deployer":"","ReceivedTime":"2019-10-11T16:49:52.5561165Z","StartTime":"2019-10-11T16:49:53.1425998Z","EndTime":"2019-10-11T16:52:08.6700642Z"},{"revisionId":"24","deploymentId":"85499beba8f391099b473dfb9db6f7bb2470895","active":true,"Status":4,"StatusText":null,"AuthorEmail":"sanchit.mehta602@gmail.com","Author":"Sanchit Mehta","Message":"2345","Deployer":"","ReceivedTime":"2019-10-11T17:29:17.8700342Z","StartTime":"2019-10-11T17:29:18.3541755Z","EndTime":"2019-10-11T17:31:45.0052705Z"}]');
        $.ajax({ 
            type: "GET",
            crossDomain: true,
            url: "http://build.f422074646704c039cb3.eastus.aksapp.io/api/revisions/jennydemo",
            success: function(data){        
                json = data;
            }
        });
      //http://build.f422074646704c039cb3.eastus.aksapp.io/api/revisions/jennydemo  
    for (var i in json)
    {   
        var revisionId = json[i].revisionId;
        var author = json[i].Author;
        var id = json[i].deploymentId.toString().trim();
        var idShort = id.substring(0, 8);
        var ago = '4H';
        var appName = "jennydemo".trim();
        var liObj = '<li id="'+id+'"><article class="card assignment-card course-id-2"><header class="card-header card-backgrund-color"><h2>'+idShort+'</h2></header><section class="card-body"> <div class="card-info"> <div class="card-info-element"> <div class="card-info-description">Ago</div><div class="card-info-value">'+ago+'</div></div><div class="card-info-element"> <div class="card-info-description">Author</div><div class="card-info-value">'+author+'</div></div><div class="card-info-element"> <div class="card-info-description">Revision</div><div class="card-info-value"><span class="card-info-assignment-level">'+revisionId+'</span></div></div></div><p class="card-body-delimiter"></p><p class="card-tags"> <button type="button" class=" card-tag card-backgrund-color" id="'+id+'-redep-btn" onclick="revertDeployment\(\''+appName+'\',\''+id+'\'\)\"> Currently Deployed</button> <span class="card-tag">Revert State</span> <span class="card-tag">Revision Metadata</span> </p></section> <footer class="card-footer"> <p> <span class="card-progress-bar"><span class="card-progress-bar-status card-backgrund-color" id="'+id+'-status" data-status="80" style="width: 30%;"></span></span> </p></footer> </article> </li>';
        var liObj2 = '<li id="'+id+'"><article class="card assignment-card course-id-1"><header class="card-header card-backgrund-color"><h2>'+idShort+'</h2></header><section class="card-body"> <div class="card-info"> <div class="card-info-element"> <div class="card-info-description">Ago</div><div class="card-info-value">'+ago+'</div></div><div class="card-info-element"> <div class="card-info-description">Author</div><div class="card-info-value">'+author+'</div></div><div class="card-info-element"> <div class="card-info-description">Revision</div><div class="card-info-value"><span class="card-info-assignment-level">'+revisionId+'</span></div></div></div><p class="card-body-delimiter"></p><p class="card-tags"> <button type="button" class=" card-tag card-backgrund-color" id="'+id+'-redep-btn" onclick="revertDeployment\(\''+appName+'\',\''+id+'\'\)\"> Redeploy Deployment</button> <span class="card-tag">Revert State</span> <span class="card-tag">Revision Metadata</span> </p></section> <footer class="card-footer"> <p> <span class="card-progress-bar" style="display:hidden"><span class="card-progress-bar-status card-backgrund-color" data-status="30" style="width: 30%;"></span></span> </p></footer> </article> </li>';
        var timeline = $('#revisions-timeline');
        if (json[i].active)
        {
            timeline.append(liObj.replace('=""','=""'));
        }
        else
        {
            timeline.append(liObj2.replace('=""','=""'));
        }
    }
    });

</script>
<div style="margin-left:30px">
    <div class="row">
        <div class="mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4>Past Deployments</h4>
                    <ul class="timeline" id="revisions-timeline">

                        <!--
    <li>
        <article class="card assignment-card course-id-1">
            <header class="card-header card-backgrund-color">
                <h2>Deployment : 12343288934</h2>
            </header>
            <section class="card-body">
                <div class="card-info">
                    <div class="card-info-element">
                        <div class="card-info-description">Ago</div>
                        <div class="card-info-value">02</div>
                    </div>
                    <div class="card-info-element">
                        <div class="card-info-description">By</div>
                        <div class="card-info-value">60</div>
                    </div>
                    <div class="card-info-element">
                        <div class="card-info-description">Revision</div>
                        <div class="card-info-value"><span class="card-info-assignment-level">18</span></div>
                    </div>
                </div>
                <p class="card-body-delimiter"></p>
                <p class="card-tags">
                    <span class="card-tag card-backgrund-color">Redeploy Deployment</span>
                    <span class="card-tag">Revert State</span>
                    <span class="card-tag">Revision Metadata</span>
                </p>
            </section>
            <footer class="card-footer">
                <p>
                    <span class="card-progress-bar"><span class="card-progress-bar-status card-backgrund-color" data-status="30" style="width: 30%;"></span></span>
                </p>
            </footer>
        </article>
    </li>
    <li>
        <article class="card assignment-card course-id-1">
            <header class="card-header card-backgrund-color">
                <h2>Deployment : 12343288934</h2>
            </header>
            <section class="card-body">
                <div class="card-info">
                    <div class="card-info-element">
                        <div class="card-info-description">Ago</div>
                        <div class="card-info-value">02</div>
                    </div>
                    <div class="card-info-element">
                        <div class="card-info-description">By</div>
                        <div class="card-info-value">60</div>
                    </div>
                    <div class="card-info-element">
                        <div class="card-info-description">Revision</div>
                        <div class="card-info-value"><span class="card-info-assignment-level">18</span></div>
                    </div>
                </div>
                <p class="card-body-delimiter"></p>
                <p class="card-tags">
                    <span class="card-tag card-backgrund-color">Redeploy Deployment</span>
                    <span class="card-tag">Revert State</span>
                    <span class="card-tag">Revision Metadata</span>
                </p>
            </section>
            <footer class="card-footer">
                <p>
                    <span class="card-progress-bar"><span class="card-progress-bar-status card-backgrund-color" data-status="30" style="width: 30%;"></span></span>
                </p>
            </footer>
        </article>
    </li>
        -->
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>