@page
@using Kudu.Core;
@using Kudu.Services
@using Microsoft.Extensions.FileProviders;

<link href="~/Content/Styles/FileBrowser.css" rel="stylesheet" />
<script src="https://functionscdn.azureedge.net/public/kudu/libs/ace/1.2.9/ace.js" type="text/javascript"></script>
<script src="https://functionscdn.azureedge.net/public/kudu/libs/ace/1.2.9/ext-modelist.js" type="text/javascript"></script>
<link href="~/css/dropzone.min.css" rel="stylesheet" />

<h4>File Manager</h4>

<!-- Render toast notifications here -->
<div id="toast"></div>

<div id="containerFileManager">
    @*anchor tag to return back to previous directory; span - 'spaddPath' is used to keep track of current directory.*@
    @*<h6><a id="aCurPathDup" style="color:#0062cc; font-weight:bold;" href="#">...</a><span id="spaddPathDup"></span></h6>*@
    <h6><a id="aCurPath" style="color:#0062cc; font-weight:bold;" href="#">...</a><span id="spaddPath"></span></h6>
    @*Adding sections upload file and upload zip to different divs of a table*@
    <table id="tblFileManager" class="table-responsive" style="display:table;">
        <tr>
            <td>
                <div class="loader">
                    <button class="btn btn-info box-border" style="display: none">
                        <span id="copy-percentage" title="percentage copy"></span>
                    </button>
                    <img class="paKman" style="display:none" src="/Content/Images/paKman.gif" title="Please wait" />
                    <i data-bind="visible: errorText, attr: {title: errorText}" class="alert-warning glyphicon glyphicon-exclamation-sign" style="display: none"></i>
                </div>
            </td>
        </tr>
        <tr>
            <td width="80%" style="vertical-align: top;">
                <form id="upload-widget" method="post" action="/upload" class="dropzone" style="border:none; padding:none;">
                    <div id="divFileManager">
                    </div>
                </form>
            </td>
            <td style="vertical-align: top;">
                <form id="upload-widget-zip" method="post" action="/upload" class="dropzone" style="border:none; height:100%">
                </form>
            </td>
        </tr>
    </table>
</div>

<!--Edit view for File Manager - implementation from File Browser without ko-->
<div class="view edit-view" data-bind="visible: fileEdit() " style="display: none">
    <div class="form-group">
        <form role="form">
            <p>
                <button class="btn btn-primary btn-default"
                        style="margin-right: 10px" onclick="saveItemAndClose(); return false;">
                    Save
                </button>
                <a class="btn bkg-light-gray" style="margin-right: 10px" onclick="cancelEdit()">Cancel</a>
                <span id="statusbar" class="statusbar"></span>
                <span id="acehelp" class="btn btn-info right" onclick="showAceHelpModal();">Help</span>
            </p>
            <!-- Ace Help Modal -->
            <div class="modal fade" id="ace-help-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="border: 0">
                            <h4 class="modal-title">Keyboard Shortcuts</h4>
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        </div>
                        <div class="modal-body">
                            Loading...
                        </div>
                        <div class="modal-footer" style="border: 0">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ace editor starts -->
            <div id="editor" data-bind="ace: editText"></div>
            <!-- Ace editor ends -->
        </form>
    </div>
</div>

<!--Calling dropzone JavaScript-->
<script src="~/Content/Scripts/dropzone.min.js"></script>
<!--Calling dropzone JavaScript-->
<script type="text/javascript" src="~/Content/Scripts/fileManager.js"></script>
@*<script src="~/content/scripts/ace-init.js"></script>*@
<script src="~/content/scripts/vkbeautify.0.99.00.beta.js"></script>
<style>
    .loader {
        display:inline-flex;
        float:right;
        right: 10px;
        top: 20px;
    }
    .paKman {
        height: 30px;
        margin-top: -4px;
    }
</style>