
@page
@using Microsoft.AspNetCore.Hosting
@inject IHostingEnvironment hostingEnvironment

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
  .bg-grad{
    background-image: linear-gradient(to right, #06B0BA, #2F3B61);
  }
</style>

@{
  //string commitFile = Server.MapPath("~/commit.txt");
  string commitFile = System.IO.Path.Combine(hostingEnvironment.WebRootPath, "commit.txt");
  string sha = System.IO.File.Exists(commitFile) ? System.IO.File.ReadAllText(commitFile).Trim() : null;
  var version = Constants.KuduBuild;
}

<div class="col-sm-10">
  <div class="row dashboard-status py-4 px-3 mb-4" style="background-color: #fdfdfd"> 
    <div class="col-md-5">
      <h5 class="mb-0">Kudu<span class="text-light">Lite</span> Build: @version
        @if (!string.IsNullOrEmpty(sha))
        {
            <text>
              (<a id="sha" href="https://github.com/ProjectKudu/kudu/commit/@sha">@sha.Substring(0, 10)</a>)
            </text>
        } </h5><small> Site UpTime: <i class="fas fa-circle" style="color:#26C281"></i> @Tracing.TraceMiddleware.UpTime.ToString(@"dd\.hh\:mm\:ss") </small>
    </div>
    
    <div class="col-md-4">
      <h6 class="mb-0">Site Folder: @PathResolver.ResolveRootPath()</h6>
      <h6 class="mb-0">Temp Folder: @System.IO.Path.GetTempPath()</h6>
    </div>
    
    <div class="col-md-1" style="margin: 0 auto; height: 100%; text-align: center">
      <div class="block-base" style="text-align: center !important;height: 100%"><a href="https://github.com/projectkudu/kudu/wiki" class="p-3 d-block underline-0 text-base"> Need Help <span class="text-primary"><i class="far fa-question-circle"></i></span></a></div>
    </div>
    
  </div>
  
  <div class="row px-3 mb-4">
    <div class="col-12">
    </div>
  </div>
</div>