@page
<button onclick="location.href='/instances/any/ssh'" style="position: fixed;top:70px; right:30px;" type="button" class="btn btn-outline-light border-0"><i class="fas fa-expand-arrows-alt"></i></button>
<iframe src="/webssh/host" frameborder="0" scrolling="no" seamless="seamless" style="display:block; width:100%; height:calc(100vh - 85px);marginx-top:40px;"></iframe>