name: .NET Core

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.2.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build ./Kudu.Services.Web/Kudu.Services.Web.csproj --configuration Release --no-restore
